/*******CSS for MathComp ---Calculator--*******/
.calculator {
	border:4px solid navy;
	border-radius: 5px;
	/*padding: 50px;*/
	/*width:100vh;
	margin: 30px;*/
	box-shadow: 5px 3px navy;
	 margin: auto;
  width: 70%;
  
 /* padding: 10px;*/
}


.op {
  background: lightGray;
  width: 5%;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 13px;
  margin-top: 10px;
}

.op:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.op:hover {
  background-color: #003300;
  color: white;
}

.inpCal {
 
  width: 15%;
  margin: 10px;
  font-size: 16px;
  padding: 1px;
  border-radius: 5px;
  /*box-shadow: 4px 0px 12px navy inset;*/
}

/************************************************/
/*******CSS for AccountsComp ---Parent---*******/
/**********************************************/

.boxParent {
  border:1px solid white;
  padding: 50px;
  box-shadow: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.nameBalance {
  border:1px solid white;
  padding: 40px;
  width: 180px;
  margin: 5px;
}

.txth3 {
	margin: 30px;

}

.inpName {
	margin: 5px;	
	border: 2px solid grey;
	height:30px;
  	width: 200px;
	/*border: 2px solid black;*/	
}

.inpbalance {
	margin: 5px;	
	border: 2px solid grey;
	height:30px;
  	width: 150px;
	/*border: 2px solid black;*/		
}

.inputBtnP {
	margin: 5px;	
	border: 2px solid grey;
	height:40px;
  	width: 70px;
}

.inputBtnP:hover {
	background-color: #527af2;
}


/*******CSS for AccountComp ---Child ---*******/

.boxChild {
	border: 2px solid white;
	padding: 10px;
	width:200px;
	margin: 20px;
	box-shadow: 5px 10px;
}

.accData {
	border: 2px solid white;
	padding: 5px;
	margin: 20px;
	box-shadow: 5px 10px;
}
.inputBtn {
	margin: 5px;	
	border: 2px solid grey;
	height:40px;
  	width: 250px;
}

.inputBtn:hover {
	background-color: #527af2;
}

/***CSS for city**/
.btnCity {
	margin: 5px;	
	border: 2px solid grey;
	height:40px;
  	width: 100px;
}

.btnCity:hover {
	background-color: #527af2;
}

.classCityDiv {
	border:1px solid white;
  	padding: 10px;
  	margin: 10px;
  	/*box-shadow: 5px 10px;*/
}




/*****CSS for Community******/

.commDiv {
	border:1px solid white;
  	padding: 20px;
  	box-shadow: 5px 10px;
  	display: flex;
  	flex-wrap: wrap;
  	float: left;

}

.inpSingAcc {
 
  width: 60%;
  margin: 10px;
  font-size: 16px;
  padding: 1px;
  border-radius: 5px;
  /*box-shadow: 4px 0px 12px navy inset;*/
}

h6 {
	margin: 0;
	line-height:30px;
}

/*******CSS for LinkedList***********/
.btnlinklist {
	margin: 5px;	
	border: 2px solid grey;
	height:33px;
  	width: 100px;
}

.btnlinklist:hover {
	background-color: #527af2;
}

p {
  margin: 0;
  line-height:30px;  
}

.sub-am {	
  padding: 5px;
  border: 2px solid white;
  margin-left: 40%;
  margin-right:40%;
  /*width: 100px;*/
}

/**CSS for fifo- lifo**/

.btnlifo {
	margin: 10px;	
	border: 2px solid grey;
	height:30px;
  	width: 100px;
}

.btnlifo:hover {
	background-color: #527af2;
}

.li-lifo {
	list-style-type: none;
}

ol li {
  background: #354fad;
  padding: 5px;
  margin-left: 45%;
  width: 100px;
}
